body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: row;
	padding: 0;
	height: 90%;
	font-family: canada-type-gibson, sans-serif;
	font-style: normal;
}

.column {
	flex-direction: column;
	display: flex;
	width: 50%;
	text-align: left;
	margin: 0 2rem;
	justify-content: space-between;
}

td {
	margin: 1 1rem;
}

h1 {
	font-weight: 500;
}

table {
	width: 100%;
	border-spacing: 2em 1em;
}

th {
	font-weight: 500;
	text-decoration: underline;
}

@media screen and (max-width: 650px) {
	.column {
		max-width: 80%;
		margin-bottom: 2em;
	}

	td {
		margin-right: 10px;
	}

	main {
		flex-direction: column;
	}
}

#t-total,
#s-total {
	background-color: #e2e2e2;
}
